

// ========== VARIABLES========
:root{
    --background-color:#fff;
    --background-light:#Fff;
    --shadow-color:rgba(0,0,0,0.2);
    --primary-color:rgb(247, 24, 57);
    --text-color:#1b1a1a;
    --text-light:#575757;
    --font-size:16px;
    --animated-speed: 1;
}

@function getAnimationDuration($duration: number){
    @return calc($duration + var(--animated-speed));
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-size: var(--font-size);
    font-family: 'Roboto', sans-serif;
}
a{
    text-decoration: none;
}
img{
    object-fit: cover;
}
.btn{
    border: none;
    outline: none;
    background-color: var(--primary-color);
    color: #fff;
    padding: .75em 1em;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1em;
    letter-spacing: 1px;
    border-radius: 3px;
    box-shadow: 0 3px 6px var(--shadow-color);

    &:hover{
        box-shadow: 0 1px 3px var(--shadow-color);

    }
}
.custom-image{
    background-color: red;
    height: 0;
    width: 100%;
    position: relative;

    img{
        position: absolute; 
        top: 0;
        left: 0;
        width: 100%;
        height: 100%
        }
}
@import "partials/navbar.scss";
.section{
    display: flex;
    align-items: center;

    .col{
        width: 50%;
    }
    .title{
        color: var(--text-color);
        font-size: 2.5em;
        margin-bottom: .25em;
    }
    .info{
        color: var(--text-light);
        font-size: 1em;
        letter-spacing: 1px;
        line-height: 1.2;
        margin-bottom: 1.25em;
    }

}
.section.hero{
    .typography{
        padding-right: 2em;
    }
    .gallery{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 1.7vw;

        .custom-image{
            border-radius: 3px;
            overflow: hidden;
            transform: scale(0);
            opacity: 0;
            animation:calc(var(--animated-speed)*0.4s) popOut forwards;

            &:nth-child(2){
                animation-delay: .1s;
            }
            &:nth-child(3){
                animation-delay: .2s;
            }
            &:nth-child(4){
                animation-delay: .7s;
            }
            &:nth-child(5){
                animation-delay: .8s;
            }
            &:nth-child(6){
                animation-delay: .3s;
            }
            &:nth-child(7){
                animation-delay: .6s;
            }
            &:nth-child(8){
                animation-delay: .5s;
            }
            &:nth-child(9){
                animation-delay: .4s;
            }
        }
    }
}

.container{
    padding-inline: 15vw;
}
.main{
    padding-block: 3vw;
}

@import "partials/animation.scss";

@media screen and (max-width: 700px){
    .navbar{
        .logo{
            font-size: 1.2em;
        }
        .nav-links{
            display: none;
        }
        .sidebar-btn{
            display: block;
        }
    }
    .container{
        padding-inline:10vw ;
    }
}